JELLYFIN_URL=jellyfin.URL
PUID=1000
PGID=1000
BASE_PATH=/mnt/Public/Jellyfin/home
MEDIA_SHARE=/mnt/Public/Jellyfin/share
TZ=Europe/London
SONARR_KEY=*
RADARR_KEY=*
WIREGUARD_KEY=*
WIREGUARD_ADD=*
VPN_SERVER_CITIES=Asia/Novosibirsk
QBIT_USER=qbit
QBIT_PASS=*
READARR_KEY=*
LIDARR_KEY=*
WIREGUARD_MTU=1100
PUBLICIP_API=ipinfo
PUBLICIP_TOKEN=*
JELLYSTATDB_USER=jellystat
JELLYSTATDB_PASS=*
JWT_SECRET=*
SONARR_IPV4=172.21.0.3
RADARR_IPV4=172.21.0.4
TRANSCODE_PATH=/transcode
HOMARR_KEY=*
